body {
	background-image: url("../images/parchment-paper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	background-color:#a1a898;
}

.headingText {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

.panel-primary {
	border-color: #a1a898;
}

.panel-body {
	border-color: #a1a898;
}

#panel-color {
	background-color: #a1a898;
}

#result-panel-left {
	height: 600px;
	width: 100%;
	}

#result-panel-right {
	height: 600px;
	width: 100%;
	}

#add-stock {
	background-color: #a1a898;
	margin-top: 10px;
	border-color: #a1a898;
}