body {
	background-image: url("../images/creepy-eyes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.headingText {
	text-align: center;
}

h2 {
	text-align: center;
}

#add-email {
	margin-top: 10px;
}