body {
	background-image: url("../images/purple_no_border.jpg");
	/*background-repeat: no-repeat;
	background-size: cover; */
}

.jumbotron {
	background-color:#a1a898;
	margin-top: 20px;

}

.headingText {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

#panel-color {
	background-color: #a1a898;
	border-color: #a1a898;
}

#panel-border-color {
	border-color: #a1a898;
}

.btn {
	text-transform: uppercase;
	background-color: #182c25;
	color: white;
}

.stock-button {
	margin-top: 10px;
	margin-right: 40px;
}

.stock-button:hover {
    color: #a1a898;
}

.stock-button:focus {
	color: #a1a898;
}

#result-panel-left {
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
	}

#result-panel-right {
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
	}

.svg-container {
	left: -14px;
}

#add-stock {
	background-color: #a1a898;
	margin-top: 10px;
	border-color: #a1a898;
}

.image-border {
	border: 5px solid #a1a898;
	outline: #686868 solid 3px;
	width: 150px;
    height: 100px;
}

.iconChar {
	margin-right: 5px;
    width: 140px;
    height: 140px;
    border: 10px solid white;
    outline-color: green;

    }