body {
	background-image: url("../images/purple_no_border.jpg");
	/*background-repeat: no-repeat;
	background-size: cover; */
}

.jumbotron {
	background-color:#a1a898;
	margin-top: 20px;

}

.headingText {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

#panel-color {
	background-color: #a1a898;
	border-color: #a1a898;
}

#panel-border-color {
	border-color: #a1a898;
}

.btn {
	text-transform: uppercase;
	background-color: #182c25;
	color: white;
}

.stock-button {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#result-panel-left {
	height: 500px;
	width: 500px;
	margin-bottom: 30px;
	}

#result-panel-right {
	height: 500px;
	width: 500px;
	margin-bottom: 30px;
	}

.svg-container {
	left: -14px;
}
#add-stock {
	background-color: #a1a898;
	margin-top: 10px;
	border-color: #a1a898;
}